PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=CeydbGrBOLg5FyZObzlTyVpMiwreK6DN
DRIVE_DISK=local
DB_CONNECTION=mysql
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=root
MYSQL_PASSWORD=Rashed@2155
MYSQL_DB_NAME=nestjs_mysql_crud_app
